@import '../../assets/styles/variables';

.nav{
    height: 20vh;
    background-color: $color4;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 1.8rem;
    padding-top: 10px;
}