.recipeCard{
    display: flex;
    flex-direction: column;
    width: 26%;
    margin: 2%;
    border: 4px solid darkgray;
    padding: 1%;
    img{
        height: 200px;
        width: auto;
    }
}